* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  position: fixed;
  background-color: white;
  width: 100%;
}

a {
  opacity: 0.8;
  text-decoration: none;
  cursor: pointer;
  padding: 0 10px;
}

a:hover {
  opacity: 1;
}

a:visited, a:hover, a:active {
  color: inherit;
}

header img {
  width: 200px;
}

.hero {
  background-image: url('images/hero.jpg');
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  padding: 0 10px;
}

.hero h1 {
  font-size: 3.2em;
  margin-bottom: 15px;
}

.hero h2 {
  font-size: 2em;
  margin-bottom: 15px;
}

.hero .button {
  background-color: white;
  border-radius: 3px;
  color: #191c03;
  padding: 20px 50px;
  text-transform: uppercase;
}
